<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Assingment2_1">
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Assignment 2">
		<classes>
			<class name="com.assign2.testCases.HomePageTest"></class>

		</classes>
	</test>
</suite>